.row
  .col.m6.s12.offset-m3
    %h4 Oh dear, forgotten your password?
    %p All good! Just enter the email you signed up with and we'll send you an email with a password reset link in it.
    = form_tag url: forgot_password_path do
      .input-field
        = text_field_tag :email_address
        = label_tag :email_address

      = submit_tag 'Submit', class: 'btn right'
