%p Hi #{@hunter.name},

%p Whoops, looks like you forgot your password! Don't worry, we've got you.

%p Click #{link_to 'here', reset_password_url(reset_token: @hunter.reset_token)} to create a new one.

%p Have a good one,
%p Mousehunter Tracker


