%h5 Change Log
%p
  %strong 7th Feb, 2017, v1.05
  %br
  Permission for this app to function and scrape their website has been granted from the Moushunt Developers (HitGrab).
%p
  %strong 23rd Jan 2017, v1.05
  %br
  Added logo!
%p
  %strong 21st Jan 2017, v1.04
  %br
  Implemented Forgot Password link.
%p
  %strong 17th Jan 2017, v1.03
  %br
  Implemented Google Recaptcha on signups. Signups turned back on.
%p
  %strong 17th Jan 2017, v1.02.1
  %br
  Discovered over 15,000 fake users had been signed up via scripting. Signups turned off until a captcha can be implemented. All fake users have been deleted. My apologies for the inconvenience.
%p
  %strong 21st Dec 2016, v1.02
  %br
  Added Location icons to the graphs to show when a Hunter changes location.
%p
  %strong 20th Dec 2016, v1.01
  %br
  Switched graphing library from <a href="https://plot.ly">plot.ly</a> to <a href="https://highcharts.com">Highcharts.</a>
%p
  %strong 8th Dec 2016
  %br
  Version 1 released!

